src/conf/xml-resources/web-service-references/ApplicationWebService/wsdl/localhost_8080/JspRPGApplicationServer/ApplicationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ApplicationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/JspRPGApplicationServer/ApplicationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getRoleFromAccount">
<part name="parameters" element="tns:getRoleFromAccount"/>
</message>
<message name="getRoleFromAccountResponse">
<part name="parameters" element="tns:getRoleFromAccountResponse"/>
</message>
<message name="checkCharacterFromUsername">
<part name="parameters" element="tns:checkCharacterFromUsername"/>
</message>
<message name="checkCharacterFromUsernameResponse">
<part name="parameters" element="tns:checkCharacterFromUsernameResponse"/>
</message>
<message name="getSecurityQuestion">
<part name="parameters" element="tns:getSecurityQuestion"/>
</message>
<message name="getSecurityQuestionResponse">
<part name="parameters" element="tns:getSecurityQuestionResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="getCharLocation">
<part name="parameters" element="tns:getCharLocation"/>
</message>
<message name="getCharLocationResponse">
<part name="parameters" element="tns:getCharLocationResponse"/>
</message>
<message name="getCharacterName">
<part name="parameters" element="tns:getCharacterName"/>
</message>
<message name="getCharacterNameResponse">
<part name="parameters" element="tns:getCharacterNameResponse"/>
</message>
<message name="logInCredentials">
<part name="parameters" element="tns:logInCredentials"/>
</message>
<message name="logInCredentialsResponse">
<part name="parameters" element="tns:logInCredentialsResponse"/>
</message>
<message name="addAccount">
<part name="parameters" element="tns:addAccount"/>
</message>
<message name="addAccountResponse">
<part name="parameters" element="tns:addAccountResponse"/>
</message>
<message name="addCharacter">
<part name="parameters" element="tns:addCharacter"/>
</message>
<message name="addCharacterResponse">
<part name="parameters" element="tns:addCharacterResponse"/>
</message>
<message name="resetPassword">
<part name="parameters" element="tns:resetPassword"/>
</message>
<message name="resetPasswordResponse">
<part name="parameters" element="tns:resetPasswordResponse"/>
</message>
<message name="forgotPassword">
<part name="parameters" element="tns:forgotPassword"/>
</message>
<message name="forgotPasswordResponse">
<part name="parameters" element="tns:forgotPasswordResponse"/>
</message>
<message name="changeEmail">
<part name="parameters" element="tns:changeEmail"/>
</message>
<message name="changeEmailResponse">
<part name="parameters" element="tns:changeEmailResponse"/>
</message>
<message name="checkSecurityAnswer">
<part name="parameters" element="tns:checkSecurityAnswer"/>
</message>
<message name="checkSecurityAnswerResponse">
<part name="parameters" element="tns:checkSecurityAnswerResponse"/>
</message>
<portType name="ApplicationWebService">
<operation name="getRoleFromAccount">
<input wsam:Action="http://WS/ApplicationWebService/getRoleFromAccountRequest" message="tns:getRoleFromAccount"/>
<output wsam:Action="http://WS/ApplicationWebService/getRoleFromAccountResponse" message="tns:getRoleFromAccountResponse"/>
</operation>
<operation name="checkCharacterFromUsername">
<input wsam:Action="http://WS/ApplicationWebService/checkCharacterFromUsernameRequest" message="tns:checkCharacterFromUsername"/>
<output wsam:Action="http://WS/ApplicationWebService/checkCharacterFromUsernameResponse" message="tns:checkCharacterFromUsernameResponse"/>
</operation>
<operation name="getSecurityQuestion">
<input wsam:Action="http://WS/ApplicationWebService/getSecurityQuestionRequest" message="tns:getSecurityQuestion"/>
<output wsam:Action="http://WS/ApplicationWebService/getSecurityQuestionResponse" message="tns:getSecurityQuestionResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://WS/ApplicationWebService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://WS/ApplicationWebService/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="getCharLocation">
<input wsam:Action="http://WS/ApplicationWebService/getCharLocationRequest" message="tns:getCharLocation"/>
<output wsam:Action="http://WS/ApplicationWebService/getCharLocationResponse" message="tns:getCharLocationResponse"/>
</operation>
<operation name="getCharacterName">
<input wsam:Action="http://WS/ApplicationWebService/getCharacterNameRequest" message="tns:getCharacterName"/>
<output wsam:Action="http://WS/ApplicationWebService/getCharacterNameResponse" message="tns:getCharacterNameResponse"/>
</operation>
<operation name="logInCredentials">
<input wsam:Action="http://WS/ApplicationWebService/logInCredentialsRequest" message="tns:logInCredentials"/>
<output wsam:Action="http://WS/ApplicationWebService/logInCredentialsResponse" message="tns:logInCredentialsResponse"/>
</operation>
<operation name="addAccount">
<input wsam:Action="http://WS/ApplicationWebService/addAccountRequest" message="tns:addAccount"/>
<output wsam:Action="http://WS/ApplicationWebService/addAccountResponse" message="tns:addAccountResponse"/>
</operation>
<operation name="addCharacter">
<input wsam:Action="http://WS/ApplicationWebService/addCharacterRequest" message="tns:addCharacter"/>
<output wsam:Action="http://WS/ApplicationWebService/addCharacterResponse" message="tns:addCharacterResponse"/>
</operation>
<operation name="resetPassword">
<input wsam:Action="http://WS/ApplicationWebService/resetPasswordRequest" message="tns:resetPassword"/>
<output wsam:Action="http://WS/ApplicationWebService/resetPasswordResponse" message="tns:resetPasswordResponse"/>
</operation>
<operation name="forgotPassword">
<input wsam:Action="http://WS/ApplicationWebService/forgotPasswordRequest" message="tns:forgotPassword"/>
<output wsam:Action="http://WS/ApplicationWebService/forgotPasswordResponse" message="tns:forgotPasswordResponse"/>
</operation>
<operation name="changeEmail">
<input wsam:Action="http://WS/ApplicationWebService/changeEmailRequest" message="tns:changeEmail"/>
<output wsam:Action="http://WS/ApplicationWebService/changeEmailResponse" message="tns:changeEmailResponse"/>
</operation>
<operation name="checkSecurityAnswer">
<input wsam:Action="http://WS/ApplicationWebService/checkSecurityAnswerRequest" message="tns:checkSecurityAnswer"/>
<output wsam:Action="http://WS/ApplicationWebService/checkSecurityAnswerResponse" message="tns:checkSecurityAnswerResponse"/>
</operation>
</portType>
<binding name="ApplicationWebServicePortBinding" type="tns:ApplicationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRoleFromAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkCharacterFromUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSecurityQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCharLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCharacterName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logInCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCharacter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="forgotPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkSecurityAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApplicationWebService">
<port name="ApplicationWebServicePort" binding="tns:ApplicationWebServicePortBinding">
<soap:address location="http://localhost:8080/JspRPGApplicationServer/ApplicationWebService"/>
</port>
</service>
</definitions>