src/conf/xml-resources/web-service-references/ApplicationWebService/wsdl/localhost_8080/JspRPGApplicationServer/ApplicationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="addAccount" type="tns:addAccount"/>

<xs:element name="addAccountResponse" type="tns:addAccountResponse"/>

<xs:element name="addCharacter" type="tns:addCharacter"/>

<xs:element name="addCharacterResponse" type="tns:addCharacterResponse"/>

<xs:element name="changeEmail" type="tns:changeEmail"/>

<xs:element name="changeEmailResponse" type="tns:changeEmailResponse"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

<xs:element name="checkCharacterFromUsername" type="tns:checkCharacterFromUsername"/>

<xs:element name="checkCharacterFromUsernameResponse" type="tns:checkCharacterFromUsernameResponse"/>

<xs:element name="checkSecurityAnswer" type="tns:checkSecurityAnswer"/>

<xs:element name="checkSecurityAnswerResponse" type="tns:checkSecurityAnswerResponse"/>

<xs:element name="forgotPassword" type="tns:forgotPassword"/>

<xs:element name="forgotPasswordResponse" type="tns:forgotPasswordResponse"/>

<xs:element name="getCharLocation" type="tns:getCharLocation"/>

<xs:element name="getCharLocationResponse" type="tns:getCharLocationResponse"/>

<xs:element name="getCharacterName" type="tns:getCharacterName"/>

<xs:element name="getCharacterNameResponse" type="tns:getCharacterNameResponse"/>

<xs:element name="getRoleFromAccount" type="tns:getRoleFromAccount"/>

<xs:element name="getRoleFromAccountResponse" type="tns:getRoleFromAccountResponse"/>

<xs:element name="getSecurityQuestion" type="tns:getSecurityQuestion"/>

<xs:element name="getSecurityQuestionResponse" type="tns:getSecurityQuestionResponse"/>

<xs:element name="logInCredentials" type="tns:logInCredentials"/>

<xs:element name="logInCredentialsResponse" type="tns:logInCredentialsResponse"/>

<xs:element name="resetPassword" type="tns:resetPassword"/>

<xs:element name="resetPasswordResponse" type="tns:resetPasswordResponse"/>

<xs:complexType name="checkCharacterFromUsername">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkCharacterFromUsernameResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAccount">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="eMail" type="xs:string" minOccurs="0"/>
<xs:element name="securityQ" type="xs:string" minOccurs="0"/>
<xs:element name="securityQans" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeEmail">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="newEmail" type="xs:string" minOccurs="0"/>
<xs:element name="oldEmail" type="xs:string" minOccurs="0"/>
<xs:element name="securityAns" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterName">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forgotPassword">
<xs:sequence>
<xs:element name="eMail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="forgotPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logInCredentials">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logInCredentialsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
<xs:element name="oldPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkSecurityAnswer">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="answer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkSecurityAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCharacter">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="portrait" type="xs:int"/>
<xs:element name="str" type="xs:int"/>
<xs:element name="dex" type="xs:int"/>
<xs:element name="vit" type="xs:int"/>
<xs:element name="intell" type="xs:int"/>
<xs:element name="wis" type="xs:int"/>
<xs:element name="chr" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCharacterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharLocation">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharLocationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSecurityQuestion">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSecurityQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetPassword">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoleFromAccount">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoleFromAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>