src/conf/xml-resources/web-service-references/ApplicationWebService/wsdl/localhost_8080/JspRPGApplicationServer/ApplicationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ApplicationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/JspRPGApplicationServer/ApplicationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addCharacter">
<part name="parameters" element="tns:addCharacter"/>
</message>
<message name="addCharacterResponse">
<part name="parameters" element="tns:addCharacterResponse"/>
</message>
<message name="addAccount">
<part name="parameters" element="tns:addAccount"/>
</message>
<message name="addAccountResponse">
<part name="parameters" element="tns:addAccountResponse"/>
</message>
<message name="logInCredentials">
<part name="parameters" element="tns:logInCredentials"/>
</message>
<message name="logInCredentialsResponse">
<part name="parameters" element="tns:logInCredentialsResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="getSecurityQuestion">
<part name="parameters" element="tns:getSecurityQuestion"/>
</message>
<message name="getSecurityQuestionResponse">
<part name="parameters" element="tns:getSecurityQuestionResponse"/>
</message>
<message name="checkSecurityAnswer">
<part name="parameters" element="tns:checkSecurityAnswer"/>
</message>
<message name="checkSecurityAnswerResponse">
<part name="parameters" element="tns:checkSecurityAnswerResponse"/>
</message>
<portType name="ApplicationWebService">
<operation name="addCharacter">
<input wsam:Action="http://WS/ApplicationWebService/addCharacterRequest" message="tns:addCharacter"/>
<output wsam:Action="http://WS/ApplicationWebService/addCharacterResponse" message="tns:addCharacterResponse"/>
</operation>
<operation name="addAccount">
<input wsam:Action="http://WS/ApplicationWebService/addAccountRequest" message="tns:addAccount"/>
<output wsam:Action="http://WS/ApplicationWebService/addAccountResponse" message="tns:addAccountResponse"/>
</operation>
<operation name="logInCredentials">
<input wsam:Action="http://WS/ApplicationWebService/logInCredentialsRequest" message="tns:logInCredentials"/>
<output wsam:Action="http://WS/ApplicationWebService/logInCredentialsResponse" message="tns:logInCredentialsResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://WS/ApplicationWebService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://WS/ApplicationWebService/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="getSecurityQuestion">
<input wsam:Action="http://WS/ApplicationWebService/getSecurityQuestionRequest" message="tns:getSecurityQuestion"/>
<output wsam:Action="http://WS/ApplicationWebService/getSecurityQuestionResponse" message="tns:getSecurityQuestionResponse"/>
</operation>
<operation name="checkSecurityAnswer">
<input wsam:Action="http://WS/ApplicationWebService/checkSecurityAnswerRequest" message="tns:checkSecurityAnswer"/>
<output wsam:Action="http://WS/ApplicationWebService/checkSecurityAnswerResponse" message="tns:checkSecurityAnswerResponse"/>
</operation>
</portType>
<binding name="ApplicationWebServicePortBinding" type="tns:ApplicationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCharacter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logInCredentials">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSecurityQuestion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkSecurityAnswer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApplicationWebService">
<port name="ApplicationWebServicePort" binding="tns:ApplicationWebServicePortBinding">
<soap:address location="http://localhost:8080/JspRPGApplicationServer/ApplicationWebService"/>
</port>
</service>
</definitions>