src/conf/xml-resources/web-service-references/ZoneHandlerBean/wsdl/localhost_8080/ZoneHandlerBeanService/ZoneHandlerBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="ZoneHandlerBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/ZoneHandlerBeanService/ZoneHandlerBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getZone">
<part name="parameters" element="tns:getZone"/>
</message>
<message name="getZoneResponse">
<part name="parameters" element="tns:getZoneResponse"/>
</message>
<message name="moveAccountFromZone">
<part name="parameters" element="tns:moveAccountFromZone"/>
</message>
<message name="moveAccountFromZoneResponse">
<part name="parameters" element="tns:moveAccountFromZoneResponse"/>
</message>
<message name="changeCharLocationInDB">
<part name="parameters" element="tns:changeCharLocationInDB"/>
</message>
<message name="changeCharLocationInDBResponse">
<part name="parameters" element="tns:changeCharLocationInDBResponse"/>
</message>
<message name="getzone1Chat">
<part name="parameters" element="tns:getzone1Chat"/>
</message>
<message name="getzone1ChatResponse">
<part name="parameters" element="tns:getzone1ChatResponse"/>
</message>
<message name="getzone2Chat">
<part name="parameters" element="tns:getzone2Chat"/>
</message>
<message name="getzone2ChatResponse">
<part name="parameters" element="tns:getzone2ChatResponse"/>
</message>
<message name="getzone3Chat">
<part name="parameters" element="tns:getzone3Chat"/>
</message>
<message name="getzone3ChatResponse">
<part name="parameters" element="tns:getzone3ChatResponse"/>
</message>
<message name="addAccountToZone">
<part name="parameters" element="tns:addAccountToZone"/>
</message>
<message name="addAccountToZoneResponse">
<part name="parameters" element="tns:addAccountToZoneResponse"/>
</message>
<message name="addToZone1Chat">
<part name="parameters" element="tns:addToZone1Chat"/>
</message>
<message name="addToZone1ChatResponse">
<part name="parameters" element="tns:addToZone1ChatResponse"/>
</message>
<message name="addToZone2Chat">
<part name="parameters" element="tns:addToZone2Chat"/>
</message>
<message name="addToZone2ChatResponse">
<part name="parameters" element="tns:addToZone2ChatResponse"/>
</message>
<message name="addToZone3Chat">
<part name="parameters" element="tns:addToZone3Chat"/>
</message>
<message name="addToZone3ChatResponse">
<part name="parameters" element="tns:addToZone3ChatResponse"/>
</message>
<portType name="ZoneHandlerBean">
<operation name="getZone">
<input wsam:Action="http://WS/ZoneHandlerBean/getZoneRequest" message="tns:getZone"/>
<output wsam:Action="http://WS/ZoneHandlerBean/getZoneResponse" message="tns:getZoneResponse"/>
</operation>
<operation name="moveAccountFromZone">
<input wsam:Action="http://WS/ZoneHandlerBean/moveAccountFromZoneRequest" message="tns:moveAccountFromZone"/>
<output wsam:Action="http://WS/ZoneHandlerBean/moveAccountFromZoneResponse" message="tns:moveAccountFromZoneResponse"/>
</operation>
<operation name="changeCharLocationInDB">
<input wsam:Action="http://WS/ZoneHandlerBean/changeCharLocationInDBRequest" message="tns:changeCharLocationInDB"/>
<output wsam:Action="http://WS/ZoneHandlerBean/changeCharLocationInDBResponse" message="tns:changeCharLocationInDBResponse"/>
</operation>
<operation name="getzone1Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/getzone1ChatRequest" message="tns:getzone1Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/getzone1ChatResponse" message="tns:getzone1ChatResponse"/>
</operation>
<operation name="getzone2Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/getzone2ChatRequest" message="tns:getzone2Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/getzone2ChatResponse" message="tns:getzone2ChatResponse"/>
</operation>
<operation name="getzone3Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/getzone3ChatRequest" message="tns:getzone3Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/getzone3ChatResponse" message="tns:getzone3ChatResponse"/>
</operation>
<operation name="addAccountToZone">
<input wsam:Action="http://WS/ZoneHandlerBean/addAccountToZoneRequest" message="tns:addAccountToZone"/>
<output wsam:Action="http://WS/ZoneHandlerBean/addAccountToZoneResponse" message="tns:addAccountToZoneResponse"/>
</operation>
<operation name="addToZone1Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/addToZone1ChatRequest" message="tns:addToZone1Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/addToZone1ChatResponse" message="tns:addToZone1ChatResponse"/>
</operation>
<operation name="addToZone2Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/addToZone2ChatRequest" message="tns:addToZone2Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/addToZone2ChatResponse" message="tns:addToZone2ChatResponse"/>
</operation>
<operation name="addToZone3Chat">
<input wsam:Action="http://WS/ZoneHandlerBean/addToZone3ChatRequest" message="tns:addToZone3Chat"/>
<output wsam:Action="http://WS/ZoneHandlerBean/addToZone3ChatResponse" message="tns:addToZone3ChatResponse"/>
</operation>
</portType>
<binding name="ZoneHandlerBeanPortBinding" type="tns:ZoneHandlerBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getZone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moveAccountFromZone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeCharLocationInDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getzone1Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getzone2Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getzone3Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAccountToZone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToZone1Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToZone2Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToZone3Chat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ZoneHandlerBeanService">
<port name="ZoneHandlerBeanPort" binding="tns:ZoneHandlerBeanPortBinding">
<soap:address location="http://localhost:8080/ZoneHandlerBeanService/ZoneHandlerBean"/>
</port>
</service>
</definitions>