web/WEB-INF/wsdl/localhost_8080/JspRPGApplicationServer/BattleHandlerBeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="BattleHandlerBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/JspRPGApplicationServer/BattleHandlerBeanService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCreatureListName">
<part name="parameters" element="tns:getCreatureListName"/>
</message>
<message name="getCreatureListNameResponse">
<part name="parameters" element="tns:getCreatureListNameResponse"/>
</message>
<message name="attackCreature">
<part name="parameters" element="tns:attackCreature"/>
</message>
<message name="attackCreatureResponse">
<part name="parameters" element="tns:attackCreatureResponse"/>
</message>
<message name="getCharacterMana">
<part name="parameters" element="tns:getCharacterMana"/>
</message>
<message name="getCharacterManaResponse">
<part name="parameters" element="tns:getCharacterManaResponse"/>
</message>
<message name="getCharacterHP">
<part name="parameters" element="tns:getCharacterHP"/>
</message>
<message name="getCharacterHPResponse">
<part name="parameters" element="tns:getCharacterHPResponse"/>
</message>
<message name="startingBattle">
<part name="parameters" element="tns:startingBattle"/>
</message>
<message name="startingBattleResponse">
<part name="parameters" element="tns:startingBattleResponse"/>
</message>
<message name="getCharacterName">
<part name="parameters" element="tns:getCharacterName"/>
</message>
<message name="getCharacterNameResponse">
<part name="parameters" element="tns:getCharacterNameResponse"/>
</message>
<message name="getspellsNameList">
<part name="parameters" element="tns:getspellsNameList"/>
</message>
<message name="getspellsNameListResponse">
<part name="parameters" element="tns:getspellsNameListResponse"/>
</message>
<message name="getCreatureHPList">
<part name="parameters" element="tns:getCreatureHPList"/>
</message>
<message name="getCreatureHPListResponse">
<part name="parameters" element="tns:getCreatureHPListResponse"/>
</message>
<message name="creaturesAttackPlayer">
<part name="parameters" element="tns:creaturesAttackPlayer"/>
</message>
<message name="creaturesAttackPlayerResponse">
<part name="parameters" element="tns:creaturesAttackPlayerResponse"/>
</message>
<message name="useSpellOnCreature">
<part name="parameters" element="tns:useSpellOnCreature"/>
</message>
<message name="useSpellOnCreatureResponse">
<part name="parameters" element="tns:useSpellOnCreatureResponse"/>
</message>
<portType name="BattleHandlerBean">
<operation name="getCreatureListName">
<input wsam:Action="http://WS/BattleHandlerBean/getCreatureListNameRequest" message="tns:getCreatureListName"/>
<output wsam:Action="http://WS/BattleHandlerBean/getCreatureListNameResponse" message="tns:getCreatureListNameResponse"/>
</operation>
<operation name="attackCreature">
<input wsam:Action="http://WS/BattleHandlerBean/attackCreatureRequest" message="tns:attackCreature"/>
<output wsam:Action="http://WS/BattleHandlerBean/attackCreatureResponse" message="tns:attackCreatureResponse"/>
</operation>
<operation name="getCharacterMana">
<input wsam:Action="http://WS/BattleHandlerBean/getCharacterManaRequest" message="tns:getCharacterMana"/>
<output wsam:Action="http://WS/BattleHandlerBean/getCharacterManaResponse" message="tns:getCharacterManaResponse"/>
</operation>
<operation name="getCharacterHP">
<input wsam:Action="http://WS/BattleHandlerBean/getCharacterHPRequest" message="tns:getCharacterHP"/>
<output wsam:Action="http://WS/BattleHandlerBean/getCharacterHPResponse" message="tns:getCharacterHPResponse"/>
</operation>
<operation name="startingBattle">
<input wsam:Action="http://WS/BattleHandlerBean/startingBattleRequest" message="tns:startingBattle"/>
<output wsam:Action="http://WS/BattleHandlerBean/startingBattleResponse" message="tns:startingBattleResponse"/>
</operation>
<operation name="getCharacterName">
<input wsam:Action="http://WS/BattleHandlerBean/getCharacterNameRequest" message="tns:getCharacterName"/>
<output wsam:Action="http://WS/BattleHandlerBean/getCharacterNameResponse" message="tns:getCharacterNameResponse"/>
</operation>
<operation name="getspellsNameList">
<input wsam:Action="http://WS/BattleHandlerBean/getspellsNameListRequest" message="tns:getspellsNameList"/>
<output wsam:Action="http://WS/BattleHandlerBean/getspellsNameListResponse" message="tns:getspellsNameListResponse"/>
</operation>
<operation name="getCreatureHPList">
<input wsam:Action="http://WS/BattleHandlerBean/getCreatureHPListRequest" message="tns:getCreatureHPList"/>
<output wsam:Action="http://WS/BattleHandlerBean/getCreatureHPListResponse" message="tns:getCreatureHPListResponse"/>
</operation>
<operation name="creaturesAttackPlayer">
<input wsam:Action="http://WS/BattleHandlerBean/creaturesAttackPlayerRequest" message="tns:creaturesAttackPlayer"/>
<output wsam:Action="http://WS/BattleHandlerBean/creaturesAttackPlayerResponse" message="tns:creaturesAttackPlayerResponse"/>
</operation>
<operation name="useSpellOnCreature">
<input wsam:Action="http://WS/BattleHandlerBean/useSpellOnCreatureRequest" message="tns:useSpellOnCreature"/>
<output wsam:Action="http://WS/BattleHandlerBean/useSpellOnCreatureResponse" message="tns:useSpellOnCreatureResponse"/>
</operation>
</portType>
<binding name="BattleHandlerBeanPortBinding" type="tns:BattleHandlerBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCreatureListName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="attackCreature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCharacterMana">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCharacterHP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startingBattle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCharacterName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getspellsNameList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCreatureHPList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creaturesAttackPlayer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="useSpellOnCreature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BattleHandlerBeanService">
<port name="BattleHandlerBeanPort" binding="tns:BattleHandlerBeanPortBinding">
<soap:address location="http://localhost:8080/JspRPGApplicationServer/BattleHandlerBeanService"/>
</port>
</service>
</definitions>