src/conf/xml-resources/web-service-references/BattleHandlerBeanService/wsdl/localhost_8080/JspRPGApplicationServer/BattleHandlerBeanService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="attackCreature" type="tns:attackCreature"/>

<xs:element name="attackCreatureResponse" type="tns:attackCreatureResponse"/>

<xs:element name="creaturesAttackPlayer" type="tns:creaturesAttackPlayer"/>

<xs:element name="creaturesAttackPlayerResponse" type="tns:creaturesAttackPlayerResponse"/>

<xs:element name="getCharacterHP" type="tns:getCharacterHP"/>

<xs:element name="getCharacterHPResponse" type="tns:getCharacterHPResponse"/>

<xs:element name="getCharacterMana" type="tns:getCharacterMana"/>

<xs:element name="getCharacterManaResponse" type="tns:getCharacterManaResponse"/>

<xs:element name="getCharacterName" type="tns:getCharacterName"/>

<xs:element name="getCharacterNameResponse" type="tns:getCharacterNameResponse"/>

<xs:element name="getCreatureHPList" type="tns:getCreatureHPList"/>

<xs:element name="getCreatureHPListResponse" type="tns:getCreatureHPListResponse"/>

<xs:element name="getCreatureListName" type="tns:getCreatureListName"/>

<xs:element name="getCreatureListNameResponse" type="tns:getCreatureListNameResponse"/>

<xs:element name="getCreaturesBeforeBattle" type="tns:getCreaturesBeforeBattle"/>

<xs:element name="getCreaturesBeforeBattleResponse" type="tns:getCreaturesBeforeBattleResponse"/>

<xs:element name="getspellsNameList" type="tns:getspellsNameList"/>

<xs:element name="getspellsNameListResponse" type="tns:getspellsNameListResponse"/>

<xs:element name="startingBattle" type="tns:startingBattle"/>

<xs:element name="startingBattleResponse" type="tns:startingBattleResponse"/>

<xs:element name="useSpellOnCreature" type="tns:useSpellOnCreature"/>

<xs:element name="useSpellOnCreatureResponse" type="tns:useSpellOnCreatureResponse"/>

<xs:complexType name="useSpellOnCreature">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="useSpellOnCreatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreaturesBeforeBattle">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreaturesBeforeBattleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterName">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterHP">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCharacterHPResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getspellsNameList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getspellsNameListResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCharacterMana">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCharacterManaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startingBattle">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startingBattleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attackCreature">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="attackCreatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaturesAttackPlayer">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="creaturesAttackPlayerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreatureHPList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCreatureHPListResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreatureListName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCreatureListNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>